* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

.container {
    max-width: 960px;
    margin: auto;
}

.primary-text {
    color: #f7c08a;
}

.primary-bg {
    background-color: #f7c08a !important;
}

.btn {
    font-size: 18px;
    background: #333;
    padding: 15px;
    border-radius: 5px;    
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clear {
    clear: both;
   
}


/* NAVBAR */
#navbar {
    background-color: #333;
    height: 60px;

}

#navbar h1 {    
    float: left;  
    padding: 10px; 
    color: #fff; 
   
}

#navbar ul {
    list-style: none;    
    float: right;
}


#navbar li {      
    padding: 20px;    
    float: left;
}



/* Showcase */
#showcase {
    background: url(./../img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

#showcase p {
    margin-bottom: 10px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
    line-height: 2.2em;
}

.showcase-content a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* home-info */
#home-info {
    height: 300px;
}

#home-info .info-img {   
    background: url(./../img/photo-1.jpg) no-repeat center center/cover; 
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {    
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 40px;

    background: #333;
    color: white;
    text-align: center;
}

#home-info h2 {
    padding: 10px;
}

#home-info p {
    margin-bottom: 50px;
}

/* FEatures */
#features {
    text-align: center;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    color: #ece9e9;
    background: #333;
    padding: center;
}

.box i {
    font-size: 50px;
}

/* FOOTER */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;

    padding: 20px;
}


/* INFO-LEFT */
#about-info {
    padding: 20px;
    text-align: justify;
    background: #ece9e9;
}

#about-info .info-left {
    width: 50%;
    float: left;
}

#about-info .info-right {
    width: 50%;
    float: left;
}

#about-info .info-right img {
    width: 60%;    
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* TESTIMONIALS */
#testimonials {
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    height: 150px;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
}



/* --------------------CONTACT CSS----------------------- */
 
.fill-up {

    margin:auto; 
    max-width: 4000px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 h2 {
   margin-bottom: 20px;
   margin-top:10px;
   }
   
  label {
    display: block;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 5px; 
  }

  .form-group input {
    border: 1px solid gainsboro;
    width: 100%;
    padding:8px;
  }

  .form-message textarea {
    border: 1px solid gainsboro;
    width: 100%;
    height: 200px;
  } 


 .btn {
 display: inline-block;
 font-size: 18px;
 color: white;
 background: #333;
 padding: 15px 20px;
 border: none;
 border-radius: 10px;
 cursor: pointer;
 margin-top: 20px;
 margin-bottom: 20px;
}
   
.btn:hover{
text-decoration: underline;
color: #f7c08a;
}
   
 #features h3 {
  padding : 10px 0px 30px 0px ;

}

